CsoundAU.xcodeproj/project.xcworkspace/xcuserdata/eddyc.xcuserdatad/UserInterfaceState[Conflict].xcuserstate
CsoundAU.xcodeproj/xcuserdata/eddyc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
CsoundAU.xcodeproj/xcuserdata/eddyc.xcuserdatad/xcschemes/CsoundAUEffect.xcscheme
CsoundAU.xcodeproj/xcuserdata/eddyc.xcuserdatad/xcschemes/CsoundAUEffectView.xcscheme
CsoundAU.xcodeproj/xcuserdata/eddyc.xcuserdatad/xcschemes/CsoundAUSynth.xcscheme
CsoundAU.xcodeproj/xcuserdata/eddyc.xcuserdatad/xcschemes/CsoundAUSynthGUI.xcscheme
CsoundAU.xcodeproj/xcuserdata/eddyc.xcuserdatad/xcschemes/xcschememanagement.plist
UserInterfaceState[Conflict].xcuserstate
UserInterfaceState.xcuserstate
